<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<meta name="Description" content="{% block description %}{% endblock %}">
	{% if active_page == 'blog_post' %}
		{% block open_graph %}{% endblock %}
	{% else %}
		<meta property="og:title" content="The Golf Handicap | Track Your Scores">
		<meta property="og:description" content="Track your scores, find your handicap, compete against your friends. Try it today!">
		<meta property="og:image" content="{{ url_for('static', filename='images/favicon.png') }}">
		<meta property="twitter:card" content="{{ url_for('static', filename='images/favicon.png') }}">
	{% endif %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/stylesheet.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet"> 
	<script>
		
		var flash = document.getElementsByClassName("flashes");

		if (flash) {
			setTimeout(function() {
				$(flash).fadeOut();
			},2500);
		}
	</script>

</head>

<div class="ribbon">
	<p>In development, not final. <a class="fancy-link" href="{{ url_for('individual_blog', slug='deployment-log') }}">Deployment log.</a></p>
</div>

<header>
	<div class="home">
		<a class="{{'active' if active_page == 'home'}}" href="{{ url_for('index') }}"><i class="fa fa-home" aria-hidden="true"></i></a>
		<a class="fancy-link {{'active' if active_page == 'blog'}}" href="{{ url_for('blog') }}">Blog</a>
		<a class="fancy-link {{'active' if active_page == 'shop'}}" href="{{ url_for('shop') }}">Shop</a>
		{% if current_user.is_authenticated %}
		<a class="fancy-link {{'active' if active_page == 'account'}}" href="{{ url_for('dashboard') }}" class="button">Account</a>
		{% endif %}
	</div>
</header>

<body>

	<div class="logo">
		<img src="{{ url_for('static', filename='images/logo.svg') }}" alt="TGH Logo">
	</div>

	{% with messages = get_flashed_messages(with_categories=true) %}
	  {% if messages %}
	    <ul class=flashes>
	    {% for category, message in messages %}
	      <div class="{{ category }}"><p>{{ message }}</p></div>
	    {% endfor %}
	    </ul>
	  {% endif %}
	{% endwith %}

	{% block content %}{% endblock %}

</body>

<footer>
	<div class="column">
		<h2>Email Signup</h2>
		<p>Sign up for our email newsletters and never miss a great tip, review, or deal!</p>
		<form action="{{ url_for('email_signup') }}" method="POST">
			<div class="input-wrap">
				<input type="text" name="email" placeholder="Email">
			</div>
			<div class="input-wrap">
				<button type="submit">Submit</button>
			</div>
		</form>
	</div>
	<div class="column">
		<h3>TGH Info</h3>
		<a href="" class="fancy-link">About Us</a>
		<a href="" class="fancy-link">Privacy Policy</a>
		<a href="" class="fancy-link">lorem ipsum</a>
	</div>
	<div class="column">
		<h3>TGH on Social Media</h3>
		<div class="row">
			<a href="https://www.instagram.com/thegolfhandicap/" class="socials">
				<i class="fa fa-instagram" aria-hidden="true"></i>
			</a>
			<a href="#" class="socials">
				<i class="fa fa-facebook-official" aria-hidden="true"></i>
			</a>
			<a href="#" class="socials">
				<i class="fa fa-twitter" aria-hidden="true"></i>
			</a>
		</div>
	</div>
</footer>

</html>