{% extends "base.html" %}
{% block title %}{{blog.title}} | The Golf Handicap{% endblock %}
{% block description %}{{ blog.meta_description }} {% endblock %}
{% set active_page = "blog_post" %}

{% block open_graph %}
	<meta property="og:title" content="{{ blog.title }} | The Golf Handicap">
	<meta property="og:description" content="{{ blog.meta_description }}">
	<!-- change og image to blog card when that field becomes available in db -->
	<meta property="og:image" content="{{ url_for('static', filename='images/blog_images/') }}{{ blog.hero_image if blog.hero_image else 'default.png' }}">
	<meta property="twitter:card" content="{{ url_for('static', filename='images/blog_images/') }}{{ blog.hero_image if blog.hero_image else 'default.png' }}">
{% endblock %}

{% block content %}

<div class="main">
	<div class="flex-container">
		<div class="box blog-post">
			<h1>{{ blog.title }}</h1>
			<img class="hero" src="{{ url_for('static', filename='images/blog_images/')}}{{blog.hero_image if blog.hero_image else 'default.png'}}" alt="">
			<div class="row">
				<p><strong>By:</strong> {{ blog.author }}</p>
				<p><strong>Date posted:</strong> {{ blog.date_posted.strftime('%m-%d-%Y') }}</p>
			</div>
			<p>{{ blog.content | safe}}</p>
		</div>
	</div>
</div>

<div class="all-blogs-button">
	<a href="{{ url_for('all_blogs') }}#{{ blog.id }}" class="button">View All</a>
</div>


{% endblock %}