{% extends "base.html" %}
{% block title %}The Golf Handicap | Dashboard{% endblock %}
{% set active_page = 'account' %}

{% block content %}

<div class="main">
	<div class="flex-container">

		<div class="profile">
			<div class="row">
				<div class="box user">
					{% if not first_name %}
					<h2>{{ username }}</h2>
					{% else %}
					<h2>{{ first_name }} {{ last_name }}</h2>
					{% endif %}
					<div class="row">	
						<img class="avatar" src="https://thegolfhandicap.s3.us-east-2.amazonaws.com/{{ avatar }}" alt="Profile picture">
						<div class="column">
							<p>Username: <span class="username">{{ username }}</span></p>
							<p>Email: <span class="username">{{ email }}</span></p>
							<p><a class="fancy-link" href="{{ url_for('friend_list', list_type='following') }}">Following:</a> {{ friend_count if friend_count else 0 }}</p>
							<p><a class="fancy-link" href="{{ url_for('friend_list', list_type='followed_by') }}">Followed by:</a> {{ follower_count if follower_count else 0 }}</p>
						</div>
					</div>
				</div>
				<div class="box options">
					<h2>Options.</h2>
					<a class="button" href="{{ url_for('add_round') }}">Add a Round</a>
					<a class="fancy-link" href="{{ url_for('leaderboard', leaderboard_type='all', sort='handicap') }}">View Leaderboard</a>
					<a class="fancy-link" href="{{ url_for('add_friend') }}">Add Friend</a>
					<a class="fancy-link" href="#">Edit Account</a>
					<a class="fancy-link" href="{{ url_for('logout') }}">Logout</a>
				</div>
			</div>
			<div class="box stats">
				<div class="row title"><h2>Scorecard.</h2></div>
				<div class="row">
					<div class="stats-box handicap">
						<h3>Handicap</h3>
						<p>{{ handicap }}</p>
					</div>
					<div class="stats-box total-rounds">
						<h3>Rounds Played</h3>
						<p>{{ total_rounds }}</p>
					</div>
					<div class="stats-box lowest-score">
						<h3>Lowest Score</h3>
						<p>{{ lowest_score }}</p>
					</div>
					<div class="stats-box member-since">
						<h3>Member Since</h3>
						<p>{{ date }}</p>
					</div>
				</div>

				<!-- <p>Your Handicap is <span class="highlight-text">{{ handicap }}!</span></p> -->
				<!-- <p>You've played <span class="highlight-text">{{ total_rounds }}</span> total round(s)!</p> -->
				<!-- <p>Member since <span class="highlight-text">{{ date }}</span></p> -->
			</div>


			<div class="box rounds">
				<h2>Recent rounds.</h2>
				{% if rounds %}
				<table class="table">
					<thead>
						<tr>
							<th>Course</th>
							<th class="hide-mobile">Rating</th>
							<th class="hide-mobile">Slope</th>
							<th>Score</th>
							<th>Score Differential</th>
							<th class="hide-mobile">Date</th>
							
						</tr>
					</thead>
					<tbody>
						{% for round in rounds %}
						<tr>
							<td>{{ round['course'] if round['course'] else 'Not Available' }}</td>
							<td class="hide-mobile">{{ round['rating'] }}</td>
							<td class="hide-mobile">{{ round['slope'] }}</td>
							<td>{{ round['score'] }}</td>
							<td>{{ round['score_differential'] }}</td>
							<td class="hide-mobile">{{ round['timestamp'] }}</td>
							<td class="edit-round">
								<a href="{{ url_for('edit_round', round_id=round['id']) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
								<a href="{{ url_for('delete_round', round_id=round['id']) }}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% else %}
				<div>
					<p>No rounds played!</p>
				</div>
				{% endif %}
			</div>
		</div>
	</div>

</div>

{% endblock %}
	
</body>
</html>