{% extends "base.html" %}
{% block title %}The Golf Handicap | Home{% endblock %}
{% set active_page = "leaderboard" %}



{% block content %}

<div class="main leaderboard">
	<div class="flex-container">
		<div class="row">
			<form>
				<div class="input-wrap">
					<label for="sort">Select leaderboard.</label>
					<select name="sort" id="sort" onchange="if(this.value != '') { this.form.submit(); }">
						<option value="">Select one...</option>
						<option value="handicap">Handicaps</option>
						<option value="score">Lowest Score</option>
						<option value="rounds">Total Rounds</option>
					</select>
				</div>
<!-- 				<div class="input-wrap">
					<button type="submit">Go!</button>
				</div> -->
			</form>
		</div>
		<div class="row">
			<div class="box rounds leaderboard">
				{% if sort == 'handicap' %}
				<h2>Leaderboard.</h2>
				{% elif sort == 'score' %}
				<h2>Lowest Scores.</h2>
				{% elif sort == 'rounds' %}
				<h2>Most rounds.</h2>
				{% endif %}

				<div class="row">
				{% if leaderboard %}
				<table class="table leaderboard">
					<thead>
						<tr>
							<th>Username</th>
							{% if sort == 'handicap' %}
							<th>Handicap</th>
							{% elif sort == 'score' %}
							<th>Lowest Score</th>
							{% elif sort == 'rounds' %}
							<th>Rounds Played</th>
							{% endif %}
						</tr>
					</thead>
					<tbody>
						{% for user in leaderboard %}
						<tr>
							<td>{{ user['username'] }}</td>
							{% if sort == 'handicap' %}
							<td>{{ user['handicap'] | round }}</td>
							{% elif sort == 'score' %}
							<td>{{ user['lowest_score'] }}</td>
							{% elif sort == 'rounds' %}
							<td>{{user['total_rounds']}}</td>
							{% endif %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% else %}
				<div>
					<p>No leaders in this clubhouse!</p>
				</div>
				{% endif %}

				{% if type == 'all' %}
				<a class="fancy-link" href="{{ url_for('leaderboard', leaderboard_type='friends') }}">View Friends Only</a>
				{% elif type == 'friends' %}
				<a class="fancy-link" href="{{ url_for('leaderboard', leaderboard_type='all') }}">View All Leaders</a>
				{% endif %}

				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}